

.ContainerNode {
    border: 2px solid;
    text-align: center;
    font-size: 1rem;
    background-color: white;
    border-radius: 3%;
    border-color: rgb(226, 170, 234);
    overflow: scroll;

    width: 350px;
    min-height: 150px;
    max-height: 400px;
    height: fit-content;

    transition: font-size 0.4s, width 0.5s;
}

.shadowedNode::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color:rgba(0,0,0,0.3);
    content: " ";
  }

.ContainerNodeFocused {
    border: 5px solid rebeccapurple;
    width: 525px;
    
}

.ContainerNodeFocused .Label{
    font-size: 250%;
}

.ContainerNodeFocused .NodeProgressBarContainer{
    font-size: 190%;
}

.ContainedNode{
    text-align: left;
    pointer-events: none;
    height: 100%;
}

.DisplayData {
    overflow: hidden;
    height: 0;
    padding-top: 5%;
    transition: height 0.5s;
    margin: 3px;
}

.QueryNode {
    height: 100%;
}

.Label {
    font-size: 200%;
    text-align: center;
}

.NodeProgressBarContainer  {
    margin-bottom: 1.5%;
    font-size: 120%;
    height: fit-content;
}

th {
    vertical-align: top;
}
