body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: sans-serif;
  padding: 0px 0px 0px 0px;
}

html {
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

textarea {
  resize: none;
}

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.Header {
  display: flex;
  resize: vertical;
  overflow: hidden;
  background-color: rgb(226, 196, 234);
}

.CreditsAndUsefulLinks {
  text-align: center;
  width: 25%;
  background-color: rgb(226, 170, 234);
}

.Inputs {
  width: 75%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.QueryInput {
  margin-top: 1%;
  width: 50%;
}

.YasqeEditor {
  max-height: 100px;
}

.Buttons {
  width: fit-content;
  border-spacing: 5px;
}

.Buttons button:active {
  background-color: #80036d;
}

.Buttons button {
  border-radius: 12px;
  transition: background-color 0.05s;
}

.MainGraphWithMetrics {
  width: 100%;
  display: flex;
  flex-basis: 80%;
  flex: 1;
}

.MainGraph {
  background-color: #c3c6cd;
  width: 85%;
}

.Metrics {
  background-color: rgb(226, 170, 234);
  width: 15%;
  overflow: hidden;
}

.MetricsContent {
  width: 60%;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
}






