body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0px 0px 0px 0px;
}

html {
  height: 100vh;
}

textarea {
  resize: none;
}

button {
  color: #815f8b;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.shadowedApp::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color:rgba(0,0,0,0.3);
  content: " ";
  pointer-events: none;
}

.Header {
  height: 21%;
  display: flex;
  resize: vertical;
  overflow: hidden;
  background-color: rgb(226, 196, 234);
}

.CreditsAndUsefulLinks {
  text-align: center;
  flex-basis: 20%;
  background-color: rgb(226, 170, 234);
  

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.CreditsAndUsefulLinks ul {
  text-align: left;
}

.About {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.Inputs {
  flex-basis: 80%;
  
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-around;
}

.YasqeWrapper {
  width: 50%;
}

.Buttons {
  width: fit-content;
  border-spacing: 5px;
}

.Buttons button:active {
  background-color: #80036d;
}

.Buttons button {
  border-radius: 12px;
  transition: background-color 0.05s;
}

.MainGraphWithMetrics {
  width: 100%;
  
  flex-basis: 80%;

  display: flex;
  flex-direction: row;
  flex: 1;
  overflow: hidden;
}

.MainGraph {
  background-color: #c3c6cd;
  flex: 1;
  font-family: 'Courier New', Courier, monospace;
}

.Metrics {
  background-color: rgb(209, 199, 210);
  width: 15%;
  overflow: hidden;
  resize: horizontal;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  -ms-flex-align: center;
}

.MetricsContent {
  font-family: 'Courier New', Courier, monospace;
  width: 60%;
  text-align: center;
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  padding-bottom: 20px;
}

.ResultsContainer {
  max-height: 45%;
  font-family: 'Courier New', Courier, monospace;
  overflow-y: scroll;
  overflow-x: hidden;
}

.QueryProgressBarContainer {
  height: 2.5px;
}





